<div class="wrapper">
    <div id="container">
      <div id="myYield">
        <h1> About Great Scott</h1>

    
<p>
Great Scott is an online service decdicated to film memorbilla, specializing in three categories of interest amoung movie fans. These three categories are posters, toys and video games. With the supreme quality of our products coupled with very reasonable prices, our cumtomers would be hard pressed to fine a service that could manage to compete with us.
</p>

<h3>Our Aim</h3>
<p>
Here at Great Scott we trive to offer only the best quality of our products. In doing this, we want to make high quality film memorbilla avadiable to the masses at affordable prices. Being movie enthusiasts we understand the hobby of obtaining memorbilla amoung movie fans, and what originated from this understanding was Great Scott.
  </p>      
<br><br>
<p>Cheers<br>The GreatScott team..</p>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">

  $( document ).ready(function() {
  $.backstretch("assets/trooper5.png");
  });

  </script>