<div class="wrapper">
    <div id="container">
      <div id="myYield">
        <h1>StaticPages#about</h1>

        <p>Find me in app/views/static_pages/about.html.erb</p>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">

  $( document ).ready(function() {
  $.backstretch("assets/trooper5.png");
  });

  </script>