      <section id="content">
        <div class="wrapper">
      
        <div id="container">
            <div id="myYield">
<div id="form_wrapper">
    <form id="myForm" action="contact.html" method="post">
        
        <h2>Contact Us</h2>
        
        Firstname: <input id="fname" type="text" name="firstname" value=""><span id="fnameField">This firstname field cannot be empty!</span><br>
      
        Surename: <input id="lname" type="text" name="lastname" value=""><span id="lnameField2">This lastname field cannot be empty!</span><br>
        
        Email: <input id="email" type="email" name="email" value=""><span id="emailField3">This email field cannot be empty!</span><br>
    
        <h5>Would you like to recieve a news letter?</h5>
    
        <input type="radio" name="group1" value="Yes"> Yes<br>
        
        <input type="radio" name="group1" value="No" checked> No
        <br><br>
        
      
    
    </form><input id="submit" type="submit" value="Submit" onClick="runMe()">  
    
   
</div>

</div>
</div>
</div>
</section>