      <section id="content">
        <div class="wrapper">
      
        <div id="container">
            <div id="myYield">
<div id="form_wrapper">
    <form id="myForm" action="contact.html" method="post">
        
        <h2>Contact Us</h2>
        
        Firstname: <input id="fname" type="text" name="firstname" value="" onFocus="clearMe()"><span id="fnameField">This firstname field cannot be empty!</span><br>
      
        Surename: <input id="lname" type="text" name="lastname" value="" onFocus="clearMe()" ><span id="lnameField2">This lastname field cannot be empty!</span><br>
        
        Email: <input id="email" type="email" name="email" value="" onFocus="clearMe()" ><span id="emailField3">This email field cannot be empty!</span><br>
    
       <br>
       <h5 >Please enter you message here. <strong class="contactText" onFocus="clearMe()" >Message must be less than 140 characters!</strong></h5>
       
       <textarea rows="4" width:="70%" name="comment" id="comment" onFocus="clearMe()"></textarea><span id="textareaNotice">You either have too many chataters, or you have none in your message.<br>Please review your text!</span><br>
       
        <h5>Would you like to recieve a news letter?</h5>
    
        <input type="radio" name="newsletter" value="Yes"> Yes<br>
        
        <input type="radio" name="newsletter" value="No" checked > No
        <br><br>

    </form><input id="submit" type="submit" value="Submit" onClick="runMe()">  
    
    
</div>

</div>
</div>
</div>

</section>
<script type="text/javascript">
$( document ).ready(function() {
$.backstretch("assets/trooper5.png");
});
</script>