
       <section id="slider">
        <div class="wrapper">
      <div id="outerSlider">
      <div id="imgLeft">
      <img src="/assets/mainImage.png" width="100%" alt="sliderImage" />
      </div>
      <div id="rightText">
      new executive division has grown through our unique service. Each
        corporate account holder is assigned a personal account manager.<br>
         Each
        corporate account holder is assigned a personal account manager.
      </div>
     
   </div>
    </div><!-- end wrapper -->
    </section><!-- end slider -->
    
    
    
		<!-- content -->   
    <section id="content">
        <div class="wrapper">
      
        <div id="container">
        
  <div id="coverThree">
    <div id="infoOne">
   

      <div class="imgtag1">
        <a href="book.php"><img src="" alt="mouse" width="50%" class=
        "image_over" /></a>
      </div>

      <h2 class="htag_2"><a href="book.php">Products</a></h2>

      <div class="pullquote">
        Why not book using the Classic Cabs mobile or desktop online service. Our latest
        GPS technology allows you a quick and easy solution to access our booking system.
        Watch the closest car drive to you live online!<br />
        <br />
      </div>
    </div>

    <div id="infoTwo">
      <a href="corporate.php"><img src="images/car.jpeg" class="carlink1" alt=
      "taxi people" width="75%" /></a>

      <h2 class="htag_2"><a href="corporate.php">Categories</a></h2>

      <div class="pullquote">
        Classic Cabs new executive division has grown through our unique service. Each
        corporate account holder is assigned a personal account manager. Our software
        will allow you specify what type of vehicle you require for all occasions.
      </div>
    </div>

    <div id="infoThree">
      <img src="images/thedoor.png" alt="taxi" width="95%" class="image_over" />

      <h2 class="htag_2"><a href="about.php">Service</a></h2>

      <div class="pullquote">
        The Classic Cabs call centre is controlled and supported 24 hours a day / 365
        days per year by our highly trained, dedicated and efficient Customer Service
        agent team. Book your taxi with the utmost confidence, there are a number of ways
        to book your taxi.
      </div>
    </div>
  </div>
        
        </div><!-- end container -->
        
         </div><!-- end warpper -->
    </section><!-- end content -->

