	<!-- number of items in the cart -->
     <span class="countCartItems">
       
      
      
      <% if $cart then %>
       <%= $cart.count %>
      
       
       <% else %>
       
        <% $cart = {} %>
      
       <%= $cart.count %>
       <% end %>
       
       </span> 
