	<!-- number of items in the cart -->
     <span class="countCartItems">
       <% if session[:cart] then %>
      
       <%= $cart.count %>
       <% else %>
       
        <% $cart = {} %>
       <%  session[:cart]={}  %>
      <% $cart = session[:cart]  %>
       <%= $cart.count %>
       <% end %>
       
       </span> 
