    <section id="content">
        <div class="wrapper">
      
        <div id="container">
            <div id="myYield">
        <h1>Editing Item</h1>
        
        <%= render 'form' %>
        
        <span class="mybtn" style="margin-right:10px;"><%= link_to 'Show', @item %> </span>
        <span class="mybtn"><%= link_to 'Back', items_path %></span>
        </div>
        
        </div>
        </div>
        </section>
        
