body{
	font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400;
    line-height: 2em;
	background:#eee
}
.adminPic{
	z-index: 99999;
    position: absolute;
    margin-left: 140px;
    margin-top: -2px;
}
h2 a{
	color:#A1805B;
	font-size:33px;
}
h2 a:hover{
	color:#039;
}
.mainSignin{
	float:right;
	margin-right:2%;
	margin-left:2%;
	
}
.contactText{
	font-size:12px;
	color:#337ab7;
}
.signIn{
  width: 57%;
    color: white;
    background: lightgray;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid darkgray;
    border-radius: 10px;
    background-image: url(/assets/shaw.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px black;
    font-family: helvetica;
    opacity: 0.8;

}
.signIn a{
	color:white;
	text-decoration:none;
}

.countCartItems{
	z-index: 999999;
    color: red;
    background: #eee;
    border: 1px solid #191919;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    height: 24px;
    padding-top: 0px;
    margin-top: -100px;
    padding-top: -21000px;
    position: absolute;
    top: 225px;
    margin-left: -10px;

}
.notice{
	text-align:right;
	color:white;
	margin-right:17px;
}
.alert{
	text-align:right;
	color:white;
	margin-rigth:17px;
}
.mainSignin a{
	text-decoration:none;
	color:#039;
}
.goRight{
	float:right;
}
.grandTotal{
	color:brown;
	font-weight:bold;
}
.mainSignin a:hover{

	color:black;
}
#myYield{
  width:100%;
  margin: 0 auto;
  padding:5px;
  
}
#searchDiv{
	background: white;
	display: block;
	height: 40px;
	padding-left: 3px;
}
#showMe{
	display: none;
	width: 45%;
	margin-top: -750px;
	margin-left: 22%;
	z-index: 99999;
	position: absolute;
}
.posterImage{
	margin-top:10px;
}
.headingTags{
color: white;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-shadow: 2px 2px 2px #485a67;
}
.cato{
	float: left;
	margin-right: 5px;
}
.searchbox{
	float: right;
	background: #eee;
	margin-top: 2px;
	margin-right:5px;
	padding-left: 5px;
    padding-right: 5px;
}
.admin1{
	width:100%;
	background:#099;
	padding:10px;
	border-radius:10px;
	box-shadow:2px 2px 2px lightgray;
}
.admin2{
	width:100%;
	background:white;
	padding:10px;
	border-radius:10px;
}
.porductName {
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
    /* margin-bottom: 15px; */
    text-shadow: 1px 1px 1px lightgray;
    color: #191919;
    height: 50px;
    background: #eee;
    border-radius: 10px;
    border:1px solid gray;
}

.mybtn2{
    width: auto;
    height:30px;
    background: #ff9f33;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    float:left;
    margin:3px;
    padding-left: 10px;
    padding-right: 10px;

}
.mybtn{
    width: auto;
    height:30px;
    background: #485a67;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    float:left;
    margin:3px;
    padding-left: 10px;
    padding-right: 10px;

}
.mybtn a{
	color:white;
	text-decoration:none;
}
.mybtn a:hover{
	color:lightgray;

}
#slider{
	padding-top:20px;
	
}
#tableSurround{
	background:#eee;
	padding:10px;
	border-radius:20px;
	float:left;
	width:98%;
	border: 1px solid lightgray;
}



						/* CONTACT FORM */
#form_wrapper{
    width: 70%;
    /* float: left; */
    height: auto;
    background: lightgray;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 60px;
    opacity:0.8;
    border-radius:10px;
}
#myCreditCardDetails{
	font-size:20px;	
	
}
#myCreditCardDetails input[type=text]{
	margin-top:10px;	
	margin-bottom:10px;
	border-radius:5px;
	height:25px;
	width:70%;
	box-shadow: 3px 3px 9px 1px lightgray inset;
	font-size:16px;
}
#myCreditCardDetails input[type=email]{
	margin-left:6%;
	margin-top:10px;	
	margin-bottom:10px;
	border-radius:5px;
	height:25px;
	width:70%;
	font-size:16px;
	box-shadow: 3px 3px 9px 1px lightgray inset;
}


#myForm{
	font-size:20px;
	}
#myForm input[type=text]{
	margin-top:10px;	
	margin-bottom:10px;
	border-radius:5px;
	height:25px;
	width:70%;
	box-shadow: 3px 3px 9px 1px lightgray inset;
	font-size:16px;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
	height:200px;
	margin-left:14%;
	border-radius:5px;
	font-size:16px;
    box-shadow: 3px 3px 9px 1px lightgray inset;
	
}
#myForm input[type=email]{
	margin-left:6%;
	margin-top:10px;	
	margin-bottom:10px;
	border-radius:5px;
	height:25px;
	width:70%;
	font-size:16px;
	box-shadow: 3px 3px 9px 1px lightgray inset;
}
#submit{
    background: #337ab7;
    width: 120px;
    height: 30px;
    float: left;
    border: none;
    border-radius: 5px;
	}
	#fnameField{
	width: 50%;
    height: 20px;
	color:red;
	font-size:12px;
	display:none;
	padding:3px;
}
	#lnameField2{
	width: 80%;
    height: 20px;
	color:red;
	font-size:12px;
	display:none;
	padding:3px;
}

	#textareaNotice{
	width: 50%;
    height: 20px;
	color:red;
	font-size:12px;
	display:none;
	padding:3px;		
	}

	#emailField3{
	width: 50%;
    height: 20px;
	color:red;
	font-size:12px;
	display:none;
	padding:3px;
}


					/* END CONTACT */
.theDis{
	width: 90%;
    padding: 10px;
    height: 140px;
    line-height:20px;
	
}
.theDis2{
    font-size: 16px;
    height: 100px;
    color: white;
    float: left;
    line-height: 26px;
 
}




/*source for magnigy    http://thecodeplayer.com/walkthrough/magnifying-glass-for-images-using-jquery-and-css3 */
.magnify {width: 200px; margin: 50px auto; position: relative;}


.large {
    width: 275px;
    height: 275px;
    position: absolute;
    border-radius: 25%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
}
.small { display: block; }

/* end magnigy */





	
.theCat{
	font-weight: bold;
    font-size: 18px;
}
.theCost{
    float: left;
    font-size: 22px;
    height: 30px;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}
.moveMe{
	font-size:22px;
    height: 20px;
    float: left;
    width: 50px;
    margin-right: 30px;
    font-weight: bold;
}
.categoryListAll{
	float: left;
}
.categoryListAll a{
	text-decoration:none;
	color:#039;
}
.categoryListAll a:hover{

	color:black;
}
.img_preview{
	padding-top:10px;
		opacity:0.8;
}
.img_preview:hover{
	opacity:0.5;
}
.posterImage2{
	opacity:0.8;
}
.posterImage2:hover{
	opacity:0.5;
}
.posterImage{
		opacity:0.8;
}
.posterImage:hover{
		opacity:0.5;
}
.wrapper{
	width: 1000px;
    height: auto;
    margin: 0 auto;
}
#header{
	background:#191919;	
}
#footer{
		background:#191919;
		clear:both;
}
#content{
/*	margin-top:10px; */
	HEIGHT:600px;	
}
#container{
    width: 100%;
    height: auto;
    float: left;
	padding-bottom:20px;
	
}
.cartTable{
	background:white;
	margin:0 auto !important;
	
}
.cartTable tr:nth-child(2n+1) {
 background:lightgray;
}
.cartTable tr td{
	   border-collapse: collapse;
}
.cartTable a{
	text-decoration:none;
    font-size: 18px;
    color: #474747;
    
}
.headImage{
	opacity: 0.8;margin-left: 30px;
}
#imgLeft{
	width: 65%;
	height:300px;
	float:left;	
}
#rightText{
	width: 27%;
	height:300px;
	float:right;
	margin-right:30px;	
	padding:10px;	
}
#outerHeader{
	width: 100%;
	background:#191919;
	height:100px;	
}

.navbar{	
	width: 100%;
	height:33px;
	background:#485a67;
	margin-top:-10px;	
}
.navbar ul{
	width: 100%;
}
.navbar ul li {
	list-style:none;
	position:relative;
	float:left;	
	width:10%;

	
}
#tableSurround2{
	width: 100%;
    float: left;
}
#itemSurround{
	width: 30%;
    background: darkgray;
    float: left;
    padding: 5px;
    text-align: center;
    margin-left: 5px;
    margin: 10px;
    border-radius:10px;
	padding-bottom: 16px;
    padding-top: 16px;
}
#itemSurround2{
	width: 50%;
    padding: 5px;
    text-align: center;
    margin-left: 5px;
    margin: 10px;
    border-radius:10px;
    margin:0 auto;
    padding-bottom:60px;
	background: #FFF;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5F9EA0),color-stop(100%,#0B393B));
    background: -webkit-linear-gradient(top,#5F9EA0 0%,#0B393B 100%);
    background: -moz-gradient(linear,left top,left bottom,color-stop(0%,#5F9EA0),color-stop(100%,#0B393B));
    background: -moz-linear-gradient(top,#5F9EA0 0%,#0B393B 100%);

}
.navbar ul li a{
	width:100px;
	text-decoration:none;
	color:white;
	float: left;
    text-align: center;	
	  -webkit-transition: background 2s; 
    transition: background 2s;
}
.navbar ul li a:hover{
	color:#ffb766;
	height:33px;	
	background:#191919;
	opacity:0.8;
}

#outerSlider{
	width: 100%;
	background:cream;
	height:300px;
	clear:both;	
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
}
#outerFooter{
	width: 100%;
	background:#191919;
	height:auto;
	clear:both;	
	font-size:12px;
	color:white;
	line-height:22px;
	padding:5px;
}

#outerFooter p{
	font-size:18px;
	color:white;
	padding-top:10px;	
}
#outerFooter ul{
	padding-bottom:20px;	
}
#outerFooter ul li{
	list-style:none;
	line-height:18px;
	color:white;
}
#coverThree {
    width: 98%;
    height: 300px;
    padding-top: 0px;
    text-align: center;
    margin: 0 auto;
}
#infoOne {
    width: 31%;
    position: relative;
    height:530px;
    border: 1px solid grey;
    padding: 5px;
    margin-top: 20px;
    float: left;
    text-align: center;
    border-radius: 10px;
}
#infoOne a {
	text-decoration:none;
}
#infoTwo {
    width: 31%;
    position: relative;
    height: 530px;
    border: 1px solid grey;
    padding: 5px;
    margin-left: 1%;
    margin-top: 20px;
    float: left;
    text-align: center;
    border-radius: 10px;
}
#infoTwo a {
	text-decoration:none;
}
#infoThree {
    width: 31%;
    position: relative;
    height: 530px;
    border: 1px solid grey;
    padding: 5px;
    margin-left: 1%;
    margin-top: 20px;
    float: left;
    text-align: center;
    border-radius: 10px;
}
#infoThree a {
	text-decoration:none;
}
		/* css taken from a site to style small line across top of page*/
		
		#borderHolder {
			width: 100%;
			height: 5px;
		}
		.headerborder {
			margin: 0;
			padding: 0;
			height: 5px;
		}
		.headerborder li {
			float: left;
			width: 33.3%;
			height: 5px;
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
			margin-top: 3px;
		}
		.headerborder li.color1 {
			background: #ff9f33;
			background: -moz-linear-gradient(left,#ff9f33 0%,#ffb766 100%);
			background: -webkit-gradient(linear,left top,right top,color-stop(0%,#ff9f33),color-stop(100%,#ffb766));
			background: -webkit-linear-gradient(left,#ff9f33 0%,#ffb766 100%);
			background: -o-linear-gradient(left,#ff9f33 0%,#ffb766 100%);
			background: -ms-linear-gradient(left,#ff9f33 0%,#ffb766 100%);
			background: linear-gradient(to right,#ff9f33 0%,#ffb766 100%);
		}
		.headerborder li.color2 {
			background: #5bc0cc;
			background: -moz-linear-gradient(left,#5bc0cc 0%,#82cfd8 100%);
			background: -webkit-gradient(linear,left top,right top,color-stop(0%,#5bc0cc),color-stop(100%,#82cfd8));
			background: -webkit-linear-gradient(left,#5bc0cc 0%,#82cfd8 100%);
			background: -o-linear-gradient(left,#5bc0cc 0%,#82cfd8 100%);
			background: -ms-linear-gradient(left,#5bc0cc 0%,#82cfd8 100%);
			background: linear-gradient(to right,#5bc0cc 0%,#82cfd8 100%);
			width: 33.4%;
		}
		.headerborder li.color3 {
			background: #485a67;
			background: -moz-linear-gradient(left,#485a67 0%,#5d7485 100%);
			background: -webkit-gradient(linear,left top,right top,color-stop(0%,#485a67),color-stop(100%,#5d7485));
			background: -webkit-linear-gradient(left,#485a67 0%,#5d7485 100%);
			background: -o-linear-gradient(left,#485a67 0%,#5d7485 100%);
			background: -ms-linear-gradient(left,#485a67 0%,#5d7485 100%);
			background: linear-gradient(to right,#485a67 0%,#5d7485 100%);
		}
		
		/* end of taken css*/
		
/* our own responsive menu button*/		
#menuButton{
	float: right;
    height: 40px;
    width: 40px;
    display: none;
}






@media only screen and (min-width:768px ) and (max-width:1120px) {
.wrapper{
	width: 100%;

}
#infoOne {
	width:94%;	
	margin-left: 1%;
	height:auto;
}
#infoTwo {
	width:94%;	
	margin-left: 1%;
	height:auto;
}
#infoThree {
	width:94%;
	margin-left: 1%;
	height:auto;
}
#itemSurround{
	width:94%;
}

}



@media only screen and (min-width:480px) and (max-width:767px) {
.wrapper{
	width: 100%;
}
#infoOne {
	width:94%;	
	margin-left: 1%;
	height:auto;
}
#infoTwo {
	width:94%;	
	margin-left: 1%;
	height:auto;
}
#infoThree {
	width:94%;
	margin-left: 1%;
	height:auto;
}
.navbar {
    width: 35%;
    height: 233px;
    background: #485a67;
    margin-top: -10px;
    z-index: 9999;
    position: absolute;
    top: 125px;
    float: right;
    right: 10px;
}
.navbar ul li{
float:none;	
}
#imgLeft{
	width: 94%;
	
}
#rightText{
	width:94%;
	float:left;
	
}
#menuButton{
	float: right;
    height: 40px;
    width: 40px;
    display: block;
	margin-right:20px;
	margin-top:-50px;
	cursor:pointer
	
}
.navbar {
	width: 100%;
	display:none;
}
#itemSurround{
	width:94%;
}
}









@media only screen and (max-width:479px) {
.wrapper{
	width: 100%;
	height: 100px;
    background: white;
}
#infoOne {
	width:94%;	
}
#infoTwo {
	width:94%;	
}
#infoThree {
	width:94%;	
}
.navbar {
    width: 35%;
    height: 233px;
    background: #485a67;
    margin-top: -10px;
    z-index: 9999;
    position: absolute;
    top: 125px;
    float: right;
    right: 10px;
}
.navbar ul li{
float:none;	
}
.navbar ul li a{
float:none;	
}
#imgLeft{
	width: 94%;
	height:170px;
	
}
#rightText{
	width:94%;
	float:left;
	height:auto;
	
}
#menuButton{
	float: right;
    height: 40px;
    width: 40px;
    display: block;
	margin-right:20px;
	margin-top:-50px;
	cursor:pointer
	
}
#showImageBig{
	float:left
}

.navbar {
	width: 95%;
	display:none;
}
#outerSlider{
height:400px;	
}
#itemSurround{
	width:90%;
}
}